.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
textarea {
    resize: none;
}
#drop-storage{
    margin: 5px 0;
}
.form-control[disabled], .form-control[readonly]{
    cursor: text !important;
}

/*Tags styles*/

.tags{
	margin:0;
	padding:0;
	list-style:none;
}

.tags li{
    margin: 1px 0;
}

.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	font-size:14px;
}

.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
    position: relative;
}

.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
}

.tags a:hover{background:#555;}	
.tags a:hover:before{border-color:transparent #555 transparent transparent;}

/*tags container*/
.tags-container p{
    font-size: 14px;
    font-weight: 700;
}

#tagInput{
    width: 100%;
    max-width:200px;
}

/*error block*/
.error-block{
    width: 100%;
    min-height: 53px;
    background: #FCDEDE;
    border: 1px solid #D2B2B2;
    border-radius: 5px;
    position: relative;
}

.error-icon{
    position: absolute;
    top:33%;
    left:5px;
    color: #B73751;
}

.msg-block{
    font: 14px Helvetica, Arial, sans-serif;
    color: #B73751;
    line-height: 53px;
    margin-left: 25px;
}

.error-text{
    margin: 0;
}
/*date style*/
.date-style{
    font-size: 12px;
    font-style: italic;
    margin: 0;
}

