<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg12">
        <div class="error-block" ng-show="errState">
         <div class="error-icon">
             <span class="glyphicon glyphicon-remove-circle"></span>
         </div>
          <div class="msg-block">
              <p class="error-text">{{errText}}</p>
          </div>
        </div>
        <form>
            <div class="form-group">
                <label for="heading">Heading:</label>
                <input type="text" class="form-control" id="heading" placeholder="Enter heading" ng-model="noteHeader" disabled required>
            </div>
            <div class="form-group">
                <label for="comment">Text:</label>
                <textarea class="form-control" rows="7" id="comment" ng-model="noteText" readonly></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary save-btn" ng-click="save()" disabled>Save</button>
                <button class="btn btn-primary save-close-btn" ng-click="save(cls)" disabled>Save&amp;close</button>
                <button class="btn btn-primary cancel-btn" ng-click="cancel()" disabled>Cancel</button>
                <button class="btn btn-primary edit-btn" ng-click="edit()">Edit</button>
                <button class="btn btn-primary close-btn" ng-click="close()">Close</button>
            </div>
        </form>
        <div class="tags-container">
            <hr>
            <ul class="tags clearfix">
                <li ng-repeat="item in tagsList"><a href="#">{{item}}</a></li>
            </ul>
        </div>
    </div>
</div>