<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>
    <script src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.config.js"></script>
    <script src="note-list/note-list.module.js"></script>
    <script src="note-list/note-list.component.js"></script>
    <script src="note-creating/note-creating.module.js"></script>
    <script src="note-creating/note-creating.component.js"></script>
    <script src="note-details/note-details.module.js"></script>
    <script src="note-details/note-details.component.js"></script>
    <script src="core/core.module.js"></script>
    <script src="core/core.service.js"></script>
    <script src="core/core.tag-filter.js"></script>
    <script src="core/access.service.js"></script>
    
</head>
<body>
    <div class="container-fluid" ng-controller="HeadCtrl">
        <div class="row">
            <div class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#!/">TestNotes</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                            <span class="sr-only">Open menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <button id="drop-storage" type="button" class="btn btn-danger" ng-click="dropStorage()">Drop</button>
                         <button id="creat-storage" type="button" class="btn btn-success" ng-click="createStorage()">Add</button>
                    </div>
                    <div class="collapse navbar-collapse" id="responsive-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#!/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="container my-top-margin">
        <div ng-view></div>
    </div>
</body>
</html>



