<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg12">
       <div class="error-block">
         <div class="error-icon">
             <span class="glyphicon glyphicon-remove-circle"></span>
         </div>
          <div class="msg-block">
              <p class="error-text"></p>
          </div>
       </div>
        <form>
            <div class="form-group">
                <label for="heading">Heading:</label>
                <input type="text" class="form-control" id="heading" placeholder="Enter heading" ng-model="noteHeader">
            </div>
            <div class="form-group">
                <label for="comment">Text:</label>
                <textarea class="form-control" rows="7" id="comment" ng-model="noteText"></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-save" ng-click="saveNote()">Save &amp; close</button>
                <button class="btn btn-primary btn-add" ng-click="saveNote(newOne)">Save &amp; create</button>
                <button class="btn btn-primary btn-close" ng-click="close()">Close</button>
            </div>
        </form>
    </div>
</div>
